
    <%- include('header.ejs') %>

    <section class="background-radial-gradient overflow-hidden mt-5 pt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 text-uppercase">
            <%- include('left.ejs') %>
          </div>
          <div class="col-10">
            <h2 class="text-center text-light my-3">Add Movies</h2>
    
            <!-- Add Movies Form -->
            <form action="/postmovie" enctype="multipart/form-data" method="post" class="border rounded Movieform p-4 bg-dark">
              <div class="row">
                <!-- Title, Release Date, and Age Fields -->
                <div class="col-6 my-3">
                  <input type="text" name="moviename" placeholder="Title" class="form-control py-3" required />
                </div>
                <div class="col-3 my-3">
                  <input type="date" name="date" placeholder="Release date" class="form-control py-3" required />
                </div>
                <div class="col-3 my-3">
                  <input type="text" name="age" placeholder="Age" class="form-control py-3" required />
                </div>
    
                <!-- Description Field -->
                <div class="col-6 my-3">
                  <input type="text" name="description" placeholder="Description" class="form-control py-3" required />
                </div>
    
                <!-- Genre, Country, Duration, and Quality Fields -->
                <div class="col-6 my-3">
                  <div class="row">
                    <div class="col-6">
                      <select name="choose_genere" class="form-control py-3" required>
                        <option value="Action">Action</option>
                        <option value="Animation">Animation</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Crime">Crime</option>
                        <option value="Romance">Romance</option>
                        <option value="Science-Fiction">Science-Fiction</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Western">Western</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <select name="country" class="form-control py-3" required>
                        <option value="america">America</option>
                        <option value="china">China</option>
                        <option value="india">India</option>
                        <option value="japan">Japan</option>
                        <option value="africa">Africa</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6 my-3">
                  <input type="text" name="duration" placeholder="Duration" class="form-control py-3" required />
                </div>
                <div class="col-6 my-3">
                  <select name="quality" class="form-control py-3" required>
                    <option value="HD">HD</option>
                    <option value="FullHD">Full HD</option>
                    <option value="720p">720p</option>
                    <option value="480p">480p</option>
                    <option value="360p">360p</option>
                  </select>
                </div>
    
                <!-- Cover Image and Director Fields -->
                <div class="col-6 my-3">
                  <input class="form-control py-3" type="file" name="cover" required />
                </div>
                <div class="col-6 my-3">
                  <input class="form-control py-3" type="text" name="director" placeholder="Director" required />
                </div>
    
                <!-- Cast and Rating Fields -->
                <div class="col-9 my-3">
                  <input class="form-control py-3" type="text" name="cast" placeholder="Cast" required />
                </div>
                <div class="col-3 my-3">
                  <input class="form-control py-3" type="text" name="rating" placeholder="Rating" required />
                </div>
    
                <!-- Submit Button -->
                <div class="col-3 mt-5">
                  <button type="submit" class="btn btn-light form-control">
                    Add Movie
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
</body>

</html>