
    <%- include('header.ejs') %>

<section class="background-radial-gradient overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 text-uppercase ">
            
                <%- include('left.ejs') %>
    
            
        </div>
        <div class="col-10  pt-5 mt-5  ">
           <div> <h1 class="p-5 mt-5 bg-light text-uppercase display-1 fw-bold ">Wellcome to dashboard</h1></div>
        </div>
        </div>
    </div>
