
<div class=" dashnavbar   ">
    <div class="col   ">
        <a href="/addmovie" class="text-decoration-none">Add Movie</a>
    </div>
    
 
    <div class="col    ">
        <a href="/viewregstration" class="text-decoration-none">View Regstration</a>

    </div>
    <div class="col    ">
        <a href="/viewcontact" class="text-decoration-none">View Contact</a>

    </div>
   
   
    <div class="col    ">
        <a href="/viewmovies" class="text-decoration-none">view Movies</a>

    </div>

   




</div>

