<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css file -->
    <link rel="stylesheet" href="./css/style.css">


    <style>
       

        .about-section {
          
            text-align: justify;
        }

       

        .mission-section {
            padding: 80px 20px;
           
            text-align: justify;
            
        }

      
    
        


        
    </style>


</head>

<body class="bg-dark">
    <%- include('./common/header.ejs') %>

        <!-- about us -->
        <section class="mt-5 pt-5">

            <div class="  container about-section ">
                <h1 class="display-3">ABOUT US</h1>
                <p class="fs-5 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id optio laudantium quae aspernatur si minus! Qui magni obcaecati doloremque quae eveniet impedit ab voluptas officia temporibus nihil alias mollitia tenetur explicabo autem molestias, nam nemo eos quia blanditiis nesciunt ut praesentium voluptate vitae excepturi. Soluta, id inventore quos est quis, iure magni quisquam eveniet officiis animi quasi ex. Dolorum in itaque perspiciatis harum. Neque blanditiis ipsum adipisci natus perferendis non facere provident, totam odio cum minima recusandae asperiores sunt! Quae aliquam earum quasi, non voluptas eum beatae aspernatur sint quidem inventore illum temporibus, tenetur facere ab voluptates dolores unde sequi quis rerum obcaecati. Alias magni aperiam non eum quaerat, quis inventore. Nihil quam corporis sed cupiditate, doloribus saepe cumque possimus fugiat sunt vitae quas laborum illum officiis. Ad non nihil assumenda dolorum earum nisi, error labore, recusandae maxime ipsum nobis hic deserunt, debitis dolores corrupti atque! Molestias reiciendis sint minus, cumque alias deleniti, eius dolor necessitatibus provident quisquam dolores, dicta rerum ipsum molestiae distinctio fugiat illo? Illo enim modi qui. Vitae optio minima, obcaecati animi qui aliquid quo earum est consequuntur accusantium! Expedita exercitationem ducimus nisi maxime nostrum minus laudantium magnam enim veniam corrupti, consectetur reiciendis quisquam dolorem magni. Earum, quibusdam!</p>
                
            </div>
        </section>

        <!-- misson and visson -->

        <div class="mission-section container ">
            <h2 class="display-3">MISSION</h2>
            <p class="fs-5">To assist and guide the investors in achieving their financial goals with peace of mind. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium repellat odio similique sunt deleniti inventore eius voluptatem labore? Aspernatur consequuntur voluptatum vitae voluptatibus reiciendis nostrum facere suscipit explicabo doloribus inventore quos eius veritatis, ipsam incidunt sint cumque deleniti ipsum? Quaerat.</p>
            <ul >
                <li class="fs-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, odio.</li>
                <li class="fs-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero?</li>
                <li class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, .</li>
                <li class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque.</li>
                <li class="fs-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet?</li>
            </ul>
            
        </div>

        <div class="vision-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-1 order-2 align-content-center">
                        <img src="image/family.avif" alt="Vision Illustration" class="img-fluid vision-image">
                    </div>
                    <div class="col-md-6 order-md-2 order-1">
                        <h2 class="display-3">VISION</h2>
                        <p class="fs-5">To be a leading personal financial advisor through a suitable mix of technology and human
                            approach.</p>

                            <h3>CORE VALUES</h3>
                            <ol>
                                <li class="fs-5">Knowledge</li>
                                <li class="fs-5">Integrity</li>
                                <li class="fs-5">Simplicity</li>
                                <li class="fs-5">Speed</li>
                                <li class="fs-5">Purpose</li>
                            </ol>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex justify-content-center">
                <div class="col-md-3 ">
                    <img src="image/users.png" class="img-fluid w-25 m-auto" alt="Client Icon">
                    <p class="fs-3 p-0"><strong>277206+</strong> <br>Users </p>
                    
                </div>

                <div class="col-md-3">
                    <img src="image/active users.png" class="img-fluid w-25" alt="SIP Icon">
                    <p class="fs-3 p-0"><strong>20000+</strong> <br>Active Users</p>
                    
                </div>
                <div class="col-md-3">
                    <img src="image/city.png" class="img-fluid w-25" alt="City Icon">
                    <p class="fs-3 p-0"><strong>150+</strong>  <br>Cities</p>
                    
                </div>
                <div class="col-md-3">
                    <img src="image/movie.png" class="img-fluid w-25" alt="Goals Icon">
                    <p class="fs-3 p-0"><strong>20+</strong> <br> OTT Partaners </p>
                    
                </div>
               
            </div>
        </div>


    

       <!-- get in tuch -->
       <div class="p-md-5 ">
        <div class="container">
            <h2 class="display-3 ">Get in touch for better understanding</h2>
            <div class="form-container  d-md-flex justify-content-evenly">
               <div class="col-md-4 mt-3"> <input type="text" class="form-control" placeholder="Enter Name"></div>
                <div class="col-md-4 mt-3"><input type="text" class="form-control" placeholder="Enter Phone Number"></div>
               <div class="col-md-2 mt-3"> <input type="submit" class="form-control"></div>
            </div>
           
        </div>
        <div class="map-background"></div>
    </div>


        <%- include('./common/footer.ejs') %>
</body>

</html>